# Файлы, сгенерированные средой разработки (IDE)
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Скомпилированные выходные файлы
target/
out/
build/
*.class
*.jar
*.war
*.ear

# Файлы операционных систем
.DS_Store
Thumbs.db

# Лог-файлы
*.log

# Файлы Gradle (если не используете, можно оставить)
.gradle/
gradle-app.setting

# Файлы Maven (если не используете, можно оставить)
**/maven-*
**/.mvn